{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 
    {% block title %}      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'base/navbar.html' %}
    <div class="container">
        {% include 'base/messages.html' %}
        
        {% block breadcrumb %}
            
        {% endblock breadcrumb %}
                   
        <div class="row mt-3">           
            {% block content %}
                
            {% endblock content %}               
        </div>
    </div>
</body>
<br/>
<footer style="background-color: #665e69;">
    <p><i class="fab fa-facebook-f"></i>TiendaOnline</p>

    <a> Ficha: 2237520</a>
</footer>
<script src="https://Kit.fontawesome.com/ed5652a487.js" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block javascript %}

{% endblock javascript %}
</html>