{% url 'login' as login %}
{% url 'register' as register %}
{% url 'carts:cart' as cart %}
{% url 'shipping_address:shipping_address' as  shipping_address %}
{% url 'orders:completed' as completed %}
{% url 'payments:create' as create %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="{% url 'products:index' %}"class="navbar-brand">StoreOnline</a>
    <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse"data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navb" class="navbar-collapse hide">
        <ul class="navbar-nav">
            <li class="new-item {% if request.path == cart %}activate {% endif %}">
              <a href="{{cart}}" class="nav-link">
                  Mi carrito <span class="fas fa-shopping-cart"></span>
              </a>   
            </li>
            {% if user.is_authenticated %}   
            <li class="new-item {% if request.path == shipping_address %}activate {% endif %}">
                <a href="{{shipping_address}}" class="nav-link">
                    Mis direcciones <span class="fas fa-location-arrow"></span>
                </a>   
            </li>
            <li class="new-item {% if request.path == completed %}activate {% endif %}">
                <a href="{{completed}}" class="nav-link">
                    Mis Pedidos <span class="fas fa-shipping-fast"></span>
                </a>   
            </li>
            <li class="new-item {% if request.path == create %}activate {% endif %}">
                <a href="{{create}}" class="nav-link">
                    Mis metodos de pago <span class="fab fa-cc-stripe"></span>
                </a>   
            </li>
            {% endif %}
        </ul>

        <ul class="nav navbar-nav ml-auto">
            
            {% if user.is_authenticated %}    
            <li class="navbar-item">
                <a href="{% url 'logout' %}" class="nav-link"> 
                    <span class="fas fa-sign-out-alt"></span>Salir</a>
            </li>
            {% else %}
            <li class="navbar-item {% if request.paht == login %}activate{% endif %}">
                <a href="{{login}}" class="nav-link">
                    <span class="fas fa-user"></span>
                    Iniciar Sesion</a>
            </li>
            <li class="navbar-item {% if request.paht == register %}activate{% endif %}">
                <a href="{{register}}" class="nav-link"> <span class="fas fa-sign-in-alt"></span>
                    Registrarse</a>
            </li>
            
           
            {% endif %}
        </ul>
    </div>
</nav>